@model IEnumerable<SignalRIdentity.Models.Message>
@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;
}

<div class="jumbotron bg-light">
    <div class="row">
        <div class="col-md-8">
            <div class="card" style="height:70vh">
                <div class="card-header">
                </div>
                <div class="card-body" style=" overflow-x:scroll">
                    <div class="row">
                        <div class="col-md-12" id="chat" style="display:grid;">
                            @if (Model != null)
                            {
                                @foreach (var message in Model.OrderBy(m => m.When))
                                {
                                    string timePosition;
                                    string containerClass, textAlign, offset;
                                    if (userName == message.UserName)
                                    {
                                        containerClass = "container darker";
                                        timePosition = "time-right text-right";
                                        textAlign = "text-right text-white";
                                        offset = "col-md-6 offset-md-6";
                                    }
                                    else
                                    {
                                        containerClass = "container";
                                        timePosition = "time-left";
                                        textAlign = "text-left";
                                        offset = "";
                                    }

                                    <div class="row">
                                        <div class="@offset">
                                            <div class="@containerClass">
                                                <text class="sender">@message.UserName</text>
                                                <text class="@textAlign">@message.Text</text>
                                                <small class="@timePosition"><text>@message.When.ToString()</text></small>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-12">
                        <form asp-action="Create" data-ajax-begin="clearInputField" data-ajax-complete="" data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage" data-ajax="true" data-ajax-method="POST" style="display:flex">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group" style=" width: -webkit-fill-available;">
                                <input name="Text" class="form-control" id="messageText" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Send" id="submitButton" class="btn btn-primary" />
                            </div>
                            <input type="hidden" value="@userName" name="username" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>
@if(User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@ViewBag.CurrentUserName";
    </script>
}


@section scripts{
    <script src="~/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalrReqHandler.js"></script>
}